:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --additional-text-color: #ffffff;
  --accent-color: #2196f3;
  --contacs-color: rgba(255, 255, 255, 0.6);
  --header-logo-color: #000000;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --accent-background-color: #2f303a;
  --accent-button-color: #188ce8;
  --header-line-color: #ececec;
  --icons-color: #afb1b8;
  --overlay-hero-color: rgba(47, 48, 58, 0.4);
  --services-thumb-color: rgba(47, 48, 58, 0.8);
  --clients-border-color: #afb1b8;
  --media-background-color: rgba(255, 255, 255, 0.1);
  --footer-input-border-color: rgba(255, 255, 255, 0.3);
  --modal-background-color: rgba(0, 0, 0, 0.2);
  --modal-btn-border-color: rgba(0, 0, 0, 0.1);
  --modal-input-border-color: rgba(33, 33, 33, 0.2);
  --modal-textarea-color: rgba(117, 117, 117, 0.5);
  --modal-checkbox-color: #212121;
  --portfolio-border-color: #eeeeee;
  --portfolio-overlay-color: rgba(33, 150, 243, 0.9);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.card-list__overlay, .card-list__link, .filter-buttons__btn, .adress__contacts, .logo-list__link, .connect__contacts, .menu__link::after, .menu__link, .modal__label-check, .modal__button-close, .backdrop, .soc__link--dark-bgd, .soc__link--light-bgd, .button, .modal, .modal__input,
.modal__textarea, .modal__input-icon {
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.modal__input-icon {
  transition-property: fill;
}

.modal__input,
.modal__textarea {
  transition-property: border-color;
}

.modal {
  transition-property: transform;
}

.modal__icon-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--primary-background-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.button {
  display: block;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition-property: background-color;
}
.button:hover, .button:focus {
  background-color: var(--accent-button-color);
}

.section__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo--dark {
  color: var(--header-logo-color);
}

.logo--light {
  color: var(--additional-text-color);
}

.logo__accent {
  color: var(--accent-color);
}

.soc {
  display: flex;
  gap: 10px;
}

.soc__item {
  width: 44px;
  height: 44px;
}

.soc__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.soc__link--light-bgd {
  background-color: transparent;
  fill: var(--icons-color);
  transition-property: background-color, fill;
}
.soc__link--light-bgd:hover, .soc__link--light-bgd:focus {
  background-color: var(--accent-color);
  fill: var(--additional-text-color);
}

.soc__link--dark-bgd {
  background-color: var(--media-background-color);
  fill: var(--additional-text-color);
  transition-property: background-color;
}
.soc__link--dark-bgd:hover, .soc__link--dark-bgd:focus {
  background-color: var(--accent-color);
}

.submit {
  width: 200px;
  height: 50px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--additional-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.submit__icon {
  fill: currentColor;
}

.submit__icon--append {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-background-color);
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid var(--modal-btn-border-color);
  border-radius: 50%;
  cursor: pointer;
  transition-property: fill;
}
.modal__button-close:hover, .modal__button-close:focus {
  fill: var(--accent-color);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.modal__form-field {
  margin-bottom: 10px;
}

.modal__label,
.modal__textarea-label {
  display: block;
  margin-bottom: 4px;
}

.modal__label-text {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__input-wrap {
  position: relative;
}

.modal__input,
.modal__textarea {
  width: 100%;
  background-color: transparent;
  border-radius: 4px;
  outline: transparent;
  border: 1px solid var(--modal-input-border-color);
}

.modal__input {
  height: 40px;
  padding-right: 12px;
  padding-left: 42px;
}
.modal__input:focus {
  border-color: var(--accent-color);
}

.modal__textarea-field {
  margin-bottom: 20px;
}

.modal__textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.modal__textarea:focus {
  border-color: var(--accent-color);
}
.modal__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--modal-textarea-color);
}
.modal__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--modal-textarea-color);
}
.modal__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--modal-textarea-color);
}

.modal__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  margin-right: 12px;
}
.modal__input:focus + .modal__input-icon {
  fill: var(--accent-color);
}

.modal__checkbox-field {
  margin-bottom: 30px;
}

.modal__label-check {
  display: flex;
  align-items: center;
  margin-left: 12px;
  transition-property: border-color;
}

.modal__icon-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  fill: transparent;
  background-color: transparent;
  border: 2px solid var(--modal-checkbox-color);
  border-radius: 2px;
}
.modal__input-check:checked + .modal__label-check .modal__icon-checkbox {
  fill: var(--additional-text-color);
  background-color: var(--accent-color);
  border: transparent;
}
.modal__input-check:focus + .modal__label-check .modal__icon-checkbox {
  border-color: var(--accent-color);
}

.modal__check-text {
  display: flex;
  margin-right: 5px;
  line-height: 1.71;
}

.modal__check-link {
  color: var(--accent-color);
}

.modal__submit {
  margin: 0 auto;
  text-align: center;
}

.header__container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

/* -------------MAIN NAVIGATION------------- */
.menu {
  display: flex;
  margin-left: 93px;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}
.menu__link::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  transform: scaleX(0);
  transition-property: transform;
}
.menu__link:hover:after, .menu__link:focus:after {
  transform: scaleX(1);
}

.current {
  color: var(--accent-color);
}
.current::after {
  position: absolute;
  bottom: 0;
  display: inline-block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  transform: scaleX(1);
}

/* -----------------CONNECT----------------- */
.header__connect {
  display: flex;
  margin-right: 0;
  margin-left: auto;
}

.connect__item:not(:last-child) {
  margin-right: 50px;
}

.connect__contacts {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
}
.connect__contacts:hover, .connect__contacts:focus {
  color: var(--accent-color);
}

.connect__icon {
  fill: currentColor;
}

.connect__icon--prepend {
  margin-right: 10px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--accent-background-color);
  text-align: center;
}

.hero-overlay {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(var(--overlay-hero-color), var(--overlay-hero-color)), url(../images/bgd-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--additional-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__btn {
  padding: 10px 32px;
  margin: 0 auto;
  color: var(--additional-text-color);
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
}

.features__icon-list {
  display: flex;
  gap: 30px;
}

.icon-list__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--secondary-background-color);
}

.icon-list__wrap--above-text {
  margin-bottom: 30px;
}

.icon-list__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.icon-list__text {
  line-height: 1.71;
}

.services {
  padding-top: 0;
}

.services__picture-list {
  display: flex;
  gap: 30px;
}

.picture-list__item {
  position: relative;
}

.picture-list__text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: var(--services-thumb-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--additional-text-color);
}

.team {
  background-color: var(--secondary-background-color);
}

.team__people-list {
  display: flex;
  gap: 30px;
}

.people-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  background-color: var(--primary-background-color);
}

.people-list__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}

.people-list__name,
.people-list__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.people-list__name {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
}

.people-list__position {
  margin-bottom: 16px;
}

.team__soc {
  justify-content: center;
}

.clients__logo-list {
  display: flex;
  gap: 30px;
}

.logo-list__item {
  width: 170px;
  height: 92px;
}

.logo-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--clients-border-color);
  border-radius: 4px;
  fill: var(--icons-color);
  transition-property: border-color, fill;
}
.logo-list__link:hover, .logo-list__link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--accent-background-color);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: var(--additional-text-color);
  line-height: 1.71;
}

.adress__contacts {
  color: var(--contacs-color);
  line-height: 1.71;
  transition-property: color;
}
.adress__contacts:hover, .adress__contacts:focus {
  color: var(--accent-color);
}

.footer__titles {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--additional-text-color);
}

.footer__form {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

.footer__label {
  display: block;
}

.footer__input {
  padding-right: 16px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  background-color: transparent;
  color: var(--additional-text-color);
  border-radius: 4px;
  outline: transparent;
  border: 1px solid var(--footer-input-border-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer__submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-header {
  border-bottom: 1px solid var(--header-line-color);
}

.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-buttons__btn {
  padding: 6px 22px;
  background-color: var(--secondary-background-color);
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  transition-property: background-color, color, box-shadow;
}
.filter-buttons__btn:hover, .filter-buttons__btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-color);
  color: var(--additional-text-color);
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}

.card-list__item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  background-color: var(--primary-background-color);
}
.card-list__item:nth-child(3n) {
  margin-right: 0px;
}
.card-list__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.card-list__link {
  display: block;
  transition-property: box-shadow;
}
.card-list__link:hover, .card-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-list__thumb {
  position: relative;
  overflow: hidden;
}

.card-list__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--portfolio-overlay-color);
  transform: translateY(100%);
  transition-property: transform;
}
.card-list__link:hover .card-list__overlay, .card-list__link:focus .card-list__overlay {
  transform: translateY(0);
}

.card-list__overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 322px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--additional-text-color);
}

.card-list__description {
  padding: 20px 24px;
  border: 1px solid var(--portfolio-border-color);
  border-top: none;
}

.card-list__title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-list__category {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}/*# sourceMappingURL=main.css.map */