.button {
	display: block;

	font-family: inherit;
	font-size: 16px;

	cursor: pointer;
	border: none;
	border-radius: 4px;

	transition-property: background-color;
	@extend %transition;

	&:hover,
	&:focus {
		background-color: var(--accent-button-color);
	}
}
