:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--additional-text-color: #ffffff;
	--accent-color: #2196f3;
	--contacs-color: rgba(255, 255, 255, 0.6);
	--header-logo-color: #000000;
	--primary-background-color: #ffffff;
	--secondary-background-color: #f5f4fa;
	--accent-background-color: #2f303a;
	--accent-button-color: #188ce8;
	--header-line-color: #ececec;
	--icons-color: #afb1b8;
	--overlay-hero-color: rgba(47, 48, 58, 0.4);
	--services-thumb-color: rgba(47, 48, 58, 0.8);
	--clients-border-color: #afb1b8;
	--media-background-color: rgba(255, 255, 255, 0.1);
	--footer-input-border-color: rgba(255, 255, 255, 0.3);

	--modal-background-color: rgba(0, 0, 0, 0.2);
	--modal-btn-border-color: rgba(0, 0, 0, 0.1);
	--modal-input-border-color: rgba(33, 33, 33, 0.2);
	--modal-textarea-color: rgba(117, 117, 117, 0.5);
	--modal-checkbox-color: #212121;

	--portfolio-border-color: #eeeeee;
	--portfolio-overlay-color: rgba(33, 150, 243, 0.9);

	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
