.clients__logo-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.logo-list__item {
	@include calc(2);
	height: 92px;
}

.logo-list__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border: 1px solid var(--clients-border-color);
	border-radius: 4px;

	fill: var(--icons-color);

	transition-property: border-color, fill;
	@extend %transition;

	&:hover,
	&:focus {
		border-color: var(--accent-color);

		fill: var(--accent-color);
	}
}

@media screen and (min-width: 768px) {
	.logo-list__item {
		@include calc(3);
	}
}

@media screen and (min-width: 1200px) {
	.logo-list__item {
		@include calc(6);
	}
}
