.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: var(--accent-background-color);
}

.adress-container,
.social-media {
	margin-bottom: 60px;
}

.footer__logo {
	display: block;
	margin-bottom: 20px;
}

.address__item {
	&:not(:last-child) {
		margin-bottom: 9px;
	}
}

.address__link,
.adress__contacts {
	@include font(null, null, 1.71, null);
}

.address__link {
	color: var(--additional-text-color);
}

.adress__contacts {
	color: var(--contacs-color);

	transition-property: color;
	@extend %transition;

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.footer__titles {
	margin-bottom: 20px;

	@include font(700, null, 1.14, null);
	text-transform: uppercase;

	color: var(--additional-text-color);
}

.footer__label {
	display: block;
}

.footer__input {
	padding-right: 16px;
	padding-left: 16px;
	width: 100%;
	height: 50px;

	background-color: transparent;

	color: var(--additional-text-color);

	border-radius: 4px;
	outline: transparent;
	border: 1px solid var(--footer-input-border-color);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer__submit {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 768px) {
	.adress-container,
	.social-media {
		margin-bottom: 0;
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.footer__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: baseline;
	}
	.form-container {
		margin-top: 60px;
	}
	.footer__input {
		width: 450px;
	}
}

@media screen and (max-width: 1199px) {
	.footer__logo,
	.address__list,
	.footer__titles {
		text-align: center;
	}
	.footer__input {
		margin-bottom: 20px;
	}
	.footer__submit {
		margin: 0 auto;
	}
}

@media screen and (min-width: 1200px) {
	.footer__container {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}
	.footer__form {
		display: flex;
		align-items: flex-end;
		gap: 12px;
	}
	.footer__input {
		width: 358px;
	}
}
