.hero {
	background-color: var(--accent-background-color);

	text-align: center;
}

.hero__container {
	padding-top: 118px;
	padding-bottom: 118px;
	height: 400px;
}

.hero-overlay {
	max-width: 1600px;
	height: 400px;
	margin-right: auto;
	margin-left: auto;
	background-image: var(--hero-gradient), url(../images/main/hero-mobile-320.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	@include retina {
		background-image: var(--hero-gradient), url(../images/main/hero-mobile-640.jpg);
	}
}

.hero__title {
	margin: 0 auto;
	margin-bottom: 30px;
	max-width: 360px;

	color: var(--additional-text-color);

	@include font(900, 26px, 1.62, 0.06em);
	text-transform: uppercase;
}

.hero__btn {
	margin: 0 auto;

	color: var(--additional-text-color);

	@include font(700, null, 1.88, 0.06em);

	background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
	.hero-overlay {
		height: 400px;
		background-image: var(--hero-gradient), url(../images/main/hero-tablet-320.jpg);
		@include retina {
			background-image: var(--hero-gradient), url(../images/main/hero-mobile-640.jpg);
		}
	}
}

@media screen and (min-width: 1200px) {
	.hero__container {
		padding-top: 200px;
		padding-bottom: 200px;
		height: 600px;
	}
	.hero-overlay {
		height: 600px;
		background-image: var(--hero-gradient), url(../images/main/hero-desktop-320.jpg);
		@include retina {
			background-image: var(--hero-gradient), url(../images/main/hero-mobile-640.jpg);
		}
	}
	.hero__title {
		max-width: 700px;
		@include font(900, 44px, 1.36, 0.06em);
	}
	.hero__btn {
		width: 216px;
	}
}
